.datasource-tree-div {
  height: calc(100vh);
  overflow: hidden;

  .datasource-tree-panel {
    background: #2B2D30;
    border-right: 1px solid #00000070;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .datasource-tree {

      /* antd 树 START */
      @tree-line-color: #4E5157;

      .ant-tree-indent-unit {
        left: 14px;
      }

      .ant-tree-indent-unit:before,
      .ant-tree-switcher-leaf-line:before {
        border-inline-end: 1px solid @tree-line-color;
      }

      .ant-tree-treenode-selected {
        .desc-text {
          color: #96989c !important;
        }

        .ant-tree-node-content-wrapper:hover:before {
          background: #354b78 !important;
          border-radius: 4px;
        }

        .ant-tree-node-content-wrapper:before {
          background: #3d5587 !important;
          border-radius: 4px;
        }
      }

      .ant-tree-node-content-wrapper:hover {
        .desc-text {
          color: #96989c !important;
        }
      }

      .ant-tree-node-content-wrapper:hover:before {
        background: #354b78A0 !important;
        border-radius: 4px;
      }

      .ant-tree-treenode-leaf-last .ant-tree-switcher-leaf-line:before {
        height: 24px !important;
      }

      .ant-tree-switcher-leaf-line:after {
        border-bottom: 1px solid @tree-line-color;
        top: 12px;
      }

      /* antd 树 END */

      .group-name-node {
        font-weight: bold;
        line-height: 20px;
      }

      .datasource-tree-node {

        .node-icon {
          background: #9C54E0;
          padding: 2px 4px;
          border-radius: 4px;
          font-size: 12px;
          font-weight: bold;
        }

        .node-desc-area {
          margin-left: 10px;

          .project-name-text {
            font-weight: bold;
          }

          .desc-text {
            color: #686A70;
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .default-database {
            color: #686A70;
            padding: 0 4px;
            height: 16px;
            border-radius: 2px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }

}
