
.datasource-config {
  background: rgb(30, 30, 31);
  width: 100%;
  height: calc(100vh);
  padding: 20px;
}

.datasource-config input {
  background: rgb(41, 41, 42);
  border-color: rgb(73, 73, 74);
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgb(73, 73, 74);
  color: #cfd1d4;
}

.ant-tabs .ant-tabs-tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.ant-tabs-tab-btn {
  color: rgb(73, 73, 74);
}

::-webkit-input-placeholder {
  color: rgb(89, 89, 90) !important;
}

.datasource-config-divider {
  background: rgb(41, 41, 42);
}

.datasource-config .ant-form-item-label label {
  color: rgb(212, 212, 212);
}

.tree-data-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-plus-btn {
  border: 1px solid rgb(64, 64, 64);
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

.site-tree-search-value {
  color: #f50;
}

// 调色板 START
.ant-popover-arrow:before {
  background: #2B2D30 !important;
}

.ant-popover-content {
  .ant-popover-inner {
    background: #2B2D30;

    span, div {
      color: white !important;
    }

    .ant-input-number-input-wrap,
    .ant-input-affix-wrapper {
      background: #2B2D30;
      border: 1px solid #3a454b;
    }

    .ant-input-number .ant-input-number-handler-wrap {
      background: #2B2D30 !important;
      color: #393B40 !important;
    }

    .ant-color-picker-alpha-input {
      display: none;
    }

    input {
      background: #2B2D30;
      color: white;
    }
  }
}

// 调色板 END


.datasource-config-detail {
  height: 100vh;
  background: #27292c;

  .datasource-base-info {
    width: 100vw;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #D8DADE;
    font-weight: bold;

    div {
      font-family: JetBrainsMonoBold, sans-serif;
    }

    .ds-color.ant-color-picker-trigger {
      min-width: 15px;
      width: 18px;
      height: 18px;
      border-radius: 5px;
      margin-left: -25px;
      background: transparent;
      z-index: 9;
      border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .ds-color.ant-color-picker-trigger:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    .ds-color {
      .ant-color-picker-color-block-inner {
        margin-top: 5px;
        width: 14px;
        height: 14px;
        border-radius: 8px;
      }
    }
  }

  .datasource-base-info.first-info {
    margin-top: 10px;
  }

  .ds-input {
    background-color: #2B2D30;
    border: 1px solid #3a454b;
    height: 23px;
    width: 400px;
    border-radius: 2px;
    color: #DCDFE2;
  }

  input::placeholder {
    color: #686C73 !important;
    font-size: 12px;
  }

  .property-tabs {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .ant-tabs-top {
    .ant-tabs-nav::before {
      border-bottom: 1px solid #00000000;
    }
  }

  .property-tabs.ant-tabs {
    .ant-tabs-nav {

      .ant-tabs-nav-list {
        //background: red;
      }

      .ant-tabs-tab {
        font-size: 12px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid #63646640;
        padding: 4px 8px;
        border-radius: 0 0 0 0 !important;

        .ant-tabs-tab-btn {
          color: #636466;
          fill: #636466;

          .ant-tabs-tab-icon {
            margin-inline-end: 6px;
          }
        }

        .tab-advanced-setting {
          width: 10px;
        }
      }

      .ant-tabs-tab:hover {
        background: #393B40;
      }

      .ant-tabs-tab-active {
        border-color: #00000000;
        border-bottom: 2px solid #3574F0;
        background: #393B40;
        padding: 4px 8px;

        .ant-tabs-tab-btn {
          color: #C7C9CD;

          .ant-tabs-tab-icon {
            .tab-advanced-setting {
              fill: #0099cc;
            }

            .tab-ssl {
              fill: #C7C9CD;
            }

            .tab-setting {
              fill: #C7C9CD;
            }
          }
        }
      }
    }
  }
}