@import "../../utils/RedisTypeStyle";

.ant-tree-treenode-selected {
  .ant-tree-node-content-wrapper:hover:before {
    border-radius: 2px !important;
  }

  .ant-tree-node-content-wrapper:before {
    background: rgba(61, 64, 69, 0.63) !important;
    border-radius: 3px !important;
  }
}

.ant-tree-node-content-wrapper:hover:before {
  background: rgba(61, 64, 69, 0.90) !important;
  border-radius: 3px !important;
}

.ant-tree-switcher {
  z-index: 1;
}

.tree-node-name {

  .redis-type {
    font-weight: bold;
    color: #d5d5d5;
    border-radius: 3px;
    line-height: 16px;
    height: 16px;
    padding: 0 3px;
    width: 11px;
    text-align: center;
  }

  .redis-type.deleted {
    background: #646464 !important;
  }

  .redis-type.hash {
    background: linear-gradient(to top left, @--typeHashLinearColor, @--typeHashColor);
  }

  .redis-type.string {
    background: linear-gradient(to top left, @--typeStringLinearColor, @--typeStringColor);
  }

  .redis-type.zset {
    background: linear-gradient(to top left, @--typeZSetLinearColor, @--typeZSetColor);
  }

  .redis-type.set {
    background: linear-gradient(to top left, @--typeSetLinearColor, @--typeSetColor);
  }

  .redis-type.list {
    background: linear-gradient(to top left, @--typeListLinearColor, @--typeListColor);
  }
}

.redis-directory {

  .redis-directory-key-title {
    color: #EAEAEA;
    font-family: JetBrainsMonoBold, sans-serif;
    font-size: 12px;
  }

  .redis-directory-key-counter {
    padding: 0 4px;
    height: 14px;
    line-height: 14px;
    border-radius: 2px;
    color: #bebfc3;
    background: #393B40;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 0 0 2px 1px #8a8b9130;
  }
}