.data-view-container {
  overflow: hidden;

  .data-view-group {

    .group-icon {
      color: #8fdcf3;
    }

    .group-name {
      color: #efefef;
      font-size: 12px;
      font-family: JetBrainsMonoBold, sans-serif;
    }
  }

}