.data-view-container {
  overflow: hidden;

  .data-view-group-container {
    .data-view-group {
      .group-icon {
        fill: #AB85F8;
      }

      .group-name {
        color: #efefef;
        font-size: 14px;
        font-weight: 600;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .data-view-group-operator {
      margin-right: 8px;

      .toolbar-btn {
        display: none;
        width: 10px;
        height: 10px;
        border-radius: 4px;
        padding: 3px 4px;
        color: #6d6e70;
        background: #393B40;
      }
    }
  }

  .no-data-view-items {
    color: #4F5253;
    font-weight: 500;

    .img {
      width: 50px;
    }
  }

}

//.ant-tree-treenode-selected,
.ant-tree-node-content-wrapper:hover {
  .data-view-group-container {
    .data-view-group-operator {
      .toolbar-btn {
        display: inline-flex;
        color: #b67704;
        background: #2d2d2e;
      }

      .toolbar-btn:hover {
        color: #ffa400;
        background: #1d1f20;
      }

      .toolbar-btn:active {
        color: #b67704;
        background: #2d2d2e;
      }
    }
  }
}