@window-title-bar-height: 32px;
@font-color: #BCBEC460;

.window-title-bar {
  width: 100%;
  height: @window-title-bar-height;
  line-height: @window-title-bar-height;
  font-weight: bold;
  text-align: center;

  .setting-tools {
    height: 100%;
    margin-right: 7px;

    .tool-icon {
      color: rgba(197, 199, 204, 0.32);
      fill: rgba(197, 199, 204, 0.32);
      padding: 4px;
    }

    .tool-icon:hover {
      color: rgba(197, 199, 204, 1);
      fill: rgba(197, 199, 204, 1);
      background: #4F5253;
      border-radius: 4px;
      cursor: pointer;
    }

    .metric-item {
      .metric-icon {
        fill: #4F5253;
      }

      .metric-icon.clients {
        fill: #6d7273;
      }

      .metric-value {
        margin-left: 1px;
        color: @font-color;
        font-size: 12px;
      }
    }

    .metric-item.io {
      width: 50px;
    }

    .metric-item.cpu {
      width: 65px;
    }

    .metric-item.clients {
      width: 46px;
    }

    .metric-item:hover {
      cursor: pointer;

      .metric-icon {
        fill: #b5acac;
      }

      .metric-icon.clients {
        fill: #cac1c1;
      }

      .metric-value {
        margin-left: 1px;
        color: #b5acac;
        font-size: 12px;
      }
    }
  }

  .host-port {
    font-family: JetBrainsMonoBold, sans-serif;
    color: @font-color;
    font-weight: normal;
    font-size: 12px;
  }

  .ant-divider {
    border-inline-start: 1px solid rgba(115, 115, 115, 0.36);
  }
}

.window-title-bar-left-col {

}

.window-title-bar-mid-col {
}

.project-selector {
  margin-left: 74px;
  height: @window-title-bar-height;

  .project-icon {
    top: 6px;
    line-height: 22px;
    width: 20px;
    height: 22px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-family: JetBrainsMonoBold, sans-serif;
    text-align: center;
  }

  .project-name {
    font-size: 12px;
    font-weight: bold;
    color: #DFE1E5;
  }

  .down-arrow {
    overflow: hidden;
    zoom: 1;
    width: 0.3rem;
    height: 0.3rem;
    text-indent: -99999px;
    border-left: 0.05rem solid #b2b2b2;
    border-top: 0.05rem solid #b2b2b2;
    transform: rotate(225deg);
  }

  .project.database {
    height: @window-title-bar-height;
  }

  .selector {
    padding: 2px 6px;

    .database-number-icon {
      fill: #DFE1E5;
    }

    .database-number {
      font-weight: bold;
      font-family: JetBrainsMonoBold, sans-serif;
      margin-left: 2px;
      color: #DFE1E5;
    }

    .db-key-len {
      color: #97999b;
      margin-left: 2px;
    }

    .database-status {
    }

    .database-status.disconnected {
      fill: #726969;
      color: #726969;
    }

    .database-status.connected {
      fill: #cccdd1;
    }
  }

  .selector:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    cursor: pointer;

    .database-status.disconnected {
      fill: #f7f7f7;
      color: #f7f7f7;
    }
  }

  .reconnect-btn.connected {
    display: none;
  }

  .reconnect-btn.disconnected {
    font-family: JetBrainsMonoBold, sans-serif;
    font-size: 10px;
    padding: 3px 8px;
    line-height: 10px;
    background: #5c5c5e;
    border-radius: 6px;
  }

  .reconnect-btn.disconnected:hover {
    background: #1a73f4;
    color: white;
    cursor: pointer;
  }

  .connected-spin {
    color: #1a73f4;
  }

  .connected-spin.invisible {
    display: none;
  }

  .datasource-tag {
    color: #bfbfbf;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: JetBrainsMonoBold, sans-serif;
    line-height: 12px;
    padding: 2px 6px;
    background: linear-gradient(to top, #BA3726AA, #BA3726A9, #BA3726AA);
    border-radius: 3px;
  }
}

