.resize-icon.hidden {
  display: none;
}

.resize-icon.pin-mode {
  position: fixed;
  right: 7px;
  bottom: 5px;

  .icon {
    .path {
      fill: #676767;
    }
  }

  .icon:hover {
    cursor: nwse-resize;

    .path {
      fill: #8a8a8a;
    }
  }
}