.key-search-result {
  color: #EAEAEA;

  .ant-col {
    height: 19px;
  }

  .key {
    margin-top: 1px;
    margin-left: 6px;
    display: inline-block;
    padding: 1px 8px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    border-radius: 4px;
    max-width: calc(70vw);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .key.hash {
    background: #B162C960;
  }

  .key.zset {
    background: #EB433460;
  }

  .key.string {
    background: #35AA5360;
  }

  .key.set {
    background: #4586F360;
  }

  .key.list {
    background: #FFA50060;
  }

  .type {
    font-size: 12px;
    font-weight: 600;
    font-family: JetBrainsMonoBold, sans-serif;
  }

  .export-icon {
    color: transparent;
    width: 12px;
  }

}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  .key-search-result {
    color: #EAEAEA;

    .export-icon {
      color: #EAEAEA;
    }
  }
}
