@border-radius: 6px !important;

.spotlight-loading {
  position: fixed;
  z-index: 10000;

  @keyframes animate {
    0% {
      transform: translate(-300px, 0px);
    }
    100% {
      transform: translate(700px, 0px);
    }
  }

  .loading-bar {
    --clr: cyan;
    width: calc(98vw);
    height: 1px;
    margin-top: 35px;
    overflow: hidden;
    position: relative;
  }

  .loading-bar::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: -150px;
    background: radial-gradient(var(--clr), transparent, transparent);
    animation: animate 1.2s linear infinite;
  }

  .loading-bar::after {
    content: '';
    position: absolute;
    inset: 2px;
    right: 700px;
    background: rgba(45, 45, 45, 1);
  }

}

.spotlight-search-input {
  width: 600px;

  .ant-select-selector {
    background-color: #2B2B29 !important;
    height: 37px !important;
    color: #FFFFFF !important;
    border-color: #353535 !important;
    box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.35) !important;
    font-size: 12px !important;
    border-radius: @border-radius;

    input {
      font-size: 18px !important;
      font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
      font-weight: bold;
      line-height: 36px !important;
      border-radius: @border-radius;
      box-shadow: none !important;
      caret-color: #375ca6;
    }

    .ant-select-selection-placeholder {
      color: #57585A;
      font-size: 12px !important;
    }

  }

  .ant-select-clear {
    position: absolute;
    top: 50%;
    inset-inline-start: auto;
    inset-inline-end: 11px;
    z-index: 1;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -6px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    text-align: center;
    text-transform: none;
    background: #545151;
    cursor: pointer;
    opacity: 0;
    text-rendering: auto;
    border-radius: 4px;
  }
}

.ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  line-height: 35px !important;
  border-radius: @border-radius;
  height: 35px !important;
}

.ant-select-single.ant-select-sm {
  line-height: 35px !important;
  border-radius: @border-radius;
  height: 35px !important;
}

.spotlight-search-input.global {
  .ant-select-selector {

    input {
      caret-color: #3478F6;
    }
  }
}

.ant-select-dropdown {
  background: #2B2D30 !important;
  border-radius: @border-radius;
  inset: 38px auto auto 0 !important;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.35) !important;

  .ant-select-item {
    color: #DCDFE2 !important;
    min-height: 18px;
    line-height: 18px;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .ant-select-item-option {
    padding-left: 14px;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: #686C73;
  }

  .spotlight-search-group {
    font-weight: bold;
  }

  .spotlight-search-item {
    font-size: 12px;
    color: #A8A8A8;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: rgba(32, 32, 34, 0.75);
  }
}