.spotlight-panel {
  //background: #2a2c30;
  .spotlight-container {
    padding-top: 4px;
    height: calc(100vh);
    //background: #f6f6f6;

    .ant-select-dropdown {
      margin-top: 6px;
      left: 5px !important;
    }
  }
}
