.spotlight-panel {
  //background: #2a2c30;
  .spotlight-container {
    padding-top: 4px;
    height: calc(100vh);
    //background: #EAEAEA;

    .ant-select-dropdown {
      margin-top: 6px;
      left: 5px !important;
    }

    .activated-datasource-info {
      @background: linear-gradient(to top, rgba(69, 68, 69, 0.8), rgba(69, 68, 69, 0.95));

      .activated-datasource {
        color: #e3e3e3;
        padding: 2px 6px;
        background: @background;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 600;
        line-height: 10px;
      }

      .activated-database {
        color: #939393;
        margin-left: 4px;
        padding: 2px 6px;
        background: @background;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 600;
        line-height: 10px;
      }
    }
  }
}
